process {
    withName: 'FINDMETA:findCrams' {
        tag = { "Searching files for sample $sample" }
        executor = 'local'
        errorStrategy = { task.exitStatus == 1 ? findCramsError(sample) : 'terminate' }
        maxForks = 10
    }
    withName: 'FINDMETA:getMetadata' {
        tag = { "Getting metadata for $cram_path" }
        executor = 'local'
    }
    withName: 'FINDMETA:parseMetadata' {
        debug = true
        tag = { "Parsing metadata for $sample" }
        executor = 'local'
    }
    withName: 'FINDMETA:combineMetadata' {
        debug = true
        tag = "Combining the metadata for all files to metadata.csv"
        executor = 'local'
        publishDir = [
            mode: params.publish_mode,
            path: 'metadata',
            overwrite: true
        ]
    }
}