// Nextflow flags
nextflow.enable.moduleBinaries = true

// Unscoped options
cleanup   = false
workDir   = "nf-work"

params {
    // main params
    samples    = null
    crams      = null
    fastqs     = null
    cram2fastq = false
    toftp      = false

    // optional params
    help                = false
    output_dir          = "results"
    publish_mode        = 'copy'
    container           = '/nfs/cellgeni/singularity/images/reprocess_10x-1.0.sif'

    // find cram metadata params
    irods_zone          = 'seq'
    ignore_patterns     = '*_phix.cram,*yhuman*,*#888.cram'

    // CRAM to FASTQ conversion parameters
    format_atac         = true
    index_format        = "i*i*" // --index-format formula for samtools, only if you really know what you're doing
    cram_reference_path = "http://refcache.dnapipelines.sanger.ac.uk::8001/%s"
}

// Singularity environment parameters
singularity {
    enabled    = true
    autoMounts = true
    runOptions = '-B /lustre,/nfs'
}

// Configuring LSF job submission
executor {
    name           = 'lsf'
    perJobMemLimit = true
}

process {
    queue  = 'normal'
    cpus   = 4
    memory = 2.GB
    maxRetries = 3
}

workflow {
    output {
        mode      = 'copy'
        overwrite = true
    }
}

// Load config for cisTopic component
//includeConfig 'modules/module.config'
includeConfig 'configs/irods_find.config'
includeConfig 'configs/cram2fastq.config'
includeConfig 'configs/collect_metadata.config'
includeConfig 'modules/local/irods/getfile/module.config'
includeConfig 'modules/local/irods/getmetadata/module.config'

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a 'reports' directory
import java.time.*
Date now = new Date()

params {
    tracedir  = "reports"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
    enabled = false
    file    = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = false
    file    = "${params.tracedir}/${params.timestamp}_report.html"
}


// Manifest
manifest {
    name            = 'cellgeni/nf-irods-to-fastq'
    homePage        = 'https://github.com/cellgeni/nf-irods-to-fastq'
    description     = "Nextflow pipeline to pull .cram files from iRODS"
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.04.4'
    version         = '24-326'
    defaultBranch   = 'main'
    contributors    = [
        [
            name: 'Simon Murray',
            github: 'just-simon-5',
            contribution: ['author']
        ],
        [ 
            name: 'Aljes Binkevich',
            email: 'ab76@sanger.ac.uk',
            github: 'claptar',
            contribution: ['maintainer']
        ],
        [
            name: 'Batuhan Cakir',
            email: 'bc8@sanger.ac.uk',
            github: 'cakirb',
            contribution: ['contributor']
        ],
        [
            name: 'Alex Predeus',
            email: 'ap41@sanger.ac.uk',
            github: 'apredeus',
            contribution: ['contributor']
        ],
        [
            name: 'Krzysztof Polanski',
            email: 'kp9@sanger.ac.uk',
            github: 'prete',
            contribution: ['contributor']
        ],
        [
            name: 'Martin Prete',
            email: 'martin.prete@sanger.ac.uk',
            github: 'prete',
            contribution: ['contributor']
        ]
    ]
}