// Global default params, used in configs
params {
    help = false
    // Where to put the output (publish folder path)
    publish_dir = "results"
    // By default Samtools checks the reference MD5 sums (@SQ “M5” auxiliary tag) in the directory pointed to by 
    // $REF_PATH environment variable (if it exists), falling back to querying the European Bioinformatics Institute (EBI)
    // reference genome server, and further falling back to the @SQ “UR” field if these are not found.
    REF_PATH="/lustre/scratch125/core/sciops_repository/cram_cache/%2s/%2s/%s:/lustre/scratch126/core/sciops_repository/cram_cache/%2s/%2s/%s:URL=http:://sf2-farm-srv1.internal.sanger.ac.uk::8000/%s"
    index_format = "i*i*"
    // main options
    findmeta = null
    cram2fastq = false
    meta = null
    toftp = false
    fastqfiles = null
}

// Singularity environment parameters
singularity {
  enabled     = true
  autoMounts  = true
  runOptions  = '-B /lustre,/nfs'
}

executor {
  $lsf {
      perJobMemLimit = true 
  }
}

process {
    withLabel: normal4 {
        executor = 'lsf'
        queue  = "normal"
        cpus   = 4
        memory = 2.GB
    }
    withLabel: local {
        executor = 'local'
        cpus   = 4
    }
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a 'reports' directory
import java.time.*
Date now = new Date()

params {
    tracedir = "reports"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

// Ensure work directories and removed on successfull pipeline execution
//cleanup = true

nextflow {
    preview.output = true
}