process {
    withName: 'IRODS_FINDCRAMS:COMBINE_METADATA' {
        ext.args = {
            [
                '--sample_column "sample"',
                '--cram_column "cram_path"',
                '--prefix_column "fastq_prefix"',
                '--check_duplicated_prefix',
                '--check_library_types',
                '--output "full_metadata.tsv"',
                '--subset_columns sample cram_path fastq_prefix sample_supplier_name library_type total_reads',
                '--subset_file "metadata.csv"',
                '--sep "\t"',
                '--subset_sep ","'
            ].join(' ')
        }
        queue = 'normal'
        cpus = 2
        memory = 4.GB
        debug = true
        publishDir = [
            mode: params.publish_mode,
            path: "${params.publish_dir}",
            pattern: "*metadata*"
        ]
    }
}