process {
    if (params.samples) {
        withName: 'IRODS_FINDCRAMS:COMBINE_METADATA' {
            ext.args = {
                [
                    '--sample_column "sample"',
                    '--cram_column "cram_path"',
                    '--prefix_column "fastq_prefix"',
                    '--check_duplicated_prefix',
                    '--check_library_types',
                    '--output "full_metadata.csv"',
                    '--subset_columns sample cram_path fastq_prefix sample_supplier_name library_type total_reads',
                    '--subset_file "metadata.csv"',
                    '--sep ","',
                    '--subset_sep ","',
                    '--sort_column "fastq_prefix"'
                ].join(' ')
            }
            queue = 'normal'
            cpus = 2
            memory = 4.GB
            debug = true
            publishDir = [
                mode: params.publish_mode,
                path: "${params.output_dir}",
                pattern: "*{metadata,warnings}*"
            ]
        }
    }

    if (params.crams || params.cram2fastq) {
        withName: 'IRODS_DOWNLOADCRAMS:COMBINE_METADATA' {
            ext.args = {
                [
                    '--sample_column "sample"',
                    '--cram_column "cram_path"',
                    '--prefix_column "fastq_prefix"',
                    '--check_duplicated_prefix',
                    '--check_library_types',
                    '--check_readcounts',
                    '--check_readlengths',
                    '--output "metadata_final_full.csv"',
                    '--subset_file "metadata_final.csv"',
                    '--subset_columns sample cram_path fastq_prefix sample_supplier_name library_type num_reads_processed total_reads r1len r2len i1len i2len',
                    '--sep ","',
                    '--subset_sep ","',
                    '--sort_column "fastq_prefix"',
                ].join(' ')
            }
            queue = 'normal'
            cpus = 2
            memory = 4.GB
            debug = true
            publishDir = [
                mode: params.publish_mode,
                path: "${params.output_dir}",
                pattern: "*{metadata_final.csv,warnings}*"
            ]
        }
    }
}