process {
    withName: 'IRODS_DOWNLOADCRAMS:CRAM2FASTQ' {
        ext.refpath = params.cram_reference_path ?: ''
        ext.index_format = params.index_format ?: 'i*i*'
        ext.format_atac = params.format_atac ?: false
        array = 10
        cpus = 4
        memory = 2.GB
        queue = 'normal'
        errorStrategy = 'retry'
        maxRetries = 3
        publishDir = [
            mode: params.publish_mode,
            path: { "${params.output_dir}/fastqs/${meta.sample}" },
            pattern: "*.fastq.gz"
        ]
    }
}