process {
    if (params.samples) {
        withName: 'IRODS_FINDCRAMS:IRODS_FIND' {
            ext.conditions = "and target = 1 and type != fastq"
            ext.args = "-z ${params.irods_zone} -d"
            cpus = 1
            memory = 2.GB
            queue = 'normal'
            maxForks = 10
        }
    }
}
