process {
    withName: 'IRODS_FINDCRAMS:IRODS_FIND' {
        ext.conditions = "and target = 1 and type != fastq"
        ext.args = "-z ${params.irods_zone} -d"
        cpus = 1
        memory = 2.GB
        queue = 'normal'
        errorStrategy = { task.exitStatus == 3 ? "terminate" : 'retry' }
        maxForks = 10
    }
}